# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment folders
.venv/
venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore datasets folder
data/

# Ignore other common Python-related files
**/.DS_Store
*.log
*.sqlite3
.env

# Ignore model files
catboost_info/

# Ignore documents
doc/
mlruns/